.App {
  text-align: center;
}
body{
  background-color: #f87171;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input{
  width: 40%;
  height: 4.8vh;
  border-radius: 8px;
  padding: 0.3rem;
  border: solid rgb(99, 94, 94) 2px;
  margin-top: 2rem;
}

.showMessage{
  padding: 1.3rem;
  color:#3b0764;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
